<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>gallery</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">



    {% load static %}

    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">

</head>

<body>
  <div class="main">
    <h1>Responsive Card Grid Layout</h1>
    <ul class="cards">
     
      
      {% for album in album_list %}
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="{{album.thumbnail_image.url}}"></div>
          <div class="card_content">
            <h2 class="card_title">{{ album.album_client }}</h2>
            <p class="card_text">{{ album.album_name }}</p>
            <p class="card_text">{{ album.created_at }}</p>
            <button class="btn card_btn">ver</button>
          </div>
        </div>
      </li>
      {% endfor %}

    </ul>
  </div>
  

</body>

</html>