{% extends './base.html' %}

{% block title %}
<title>New Album</title>
{% endblock  %}

{% block content %}
{% load static %}
    <div class="main">
        <h1>Responsive Card Grid Layout</h1>
        <ul class="cards">
            <li class="cards_item">
                <form action="{% url 'posts:add_album' %}"
                      method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{% static 'posts/img/392-500x300.jpg' url %}">
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">
                                <input name="album_name" type="text" placeholder="Titulo del Album">
                            </h2>
                            <p class="card_text">
                                <input name="album_client" type="text" placeholder="Nombre del Cliente">
                            </p>
                            <p class="card_text">
                                <input type="file" name="cover_photo" required="true">
                            </p>
                            <button class="btn card_btn" action="submit">nuevo album</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
